
        body {
            text-align: center;
            font-family: Arial, sans-serif;
            font-weight: 700;
            color: #ffffff;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
        }

        h1,
        h2,
        p,
        #clicks,
        button {
            font-weight: 800;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
        }

        #image {
            width: 200px;
            height: auto;
            margin: 20px;
        }

        #clicks {
            font-size: 24px;
            margin: 20px;
        }

        button {
            cursor: pointer;
        }