:root {
--text: #000000;
--background: #da8e36;
--primary: #38ca81;
--secondary: #69b08c;
--accent: #e8d445;
}

body {
    color: var(--text);
    background: var(--background);
    font-family: "Oswald";
    font-style: italic;
    font-size: medium;
    font-weight: medium;
}

h1,
h2 {
    color: var(--text);
    font-family: "Tinos";
    font-style:normal;
    text-decoration:overline
}

h3 {
    font-size: large;
    font-weight: 900;
    text-decoration: double;
}

p{
    font-size: large
    font-weight; larger
}

li:;marker{
    color: var(--secondary);
}

img{
     padding: 4px;
    border: 4px solid var(--secondary)
    border-radius: 16px;
    background: var(--primary)
}

audio{
        background: var(--accent);
}
